header {
    .topnav__wrapper {
        .contact__wrapper {
            display: flex;
            justify-content: flex-start;
            gap: 2rem;
            padding: 2rem 0;

            svg {
                fill: $whiteColor;
                margin-right: .5rem;

            }
        }

        span {
            font-family: $textFont;
            color: $whiteColor;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }

    .socialmedia__wrapper {
        padding: 2rem 0;

        svg {
            margin-right: 1.6rem;
            fill: $whiteColor;
        }
    }
}

.navmenu__wrapper {
    .navbar-brand {
        img {
            width: 16rem;
            height: 8rem;
        }
    }

    ul {
        li {
            padding: 1rem 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;

            a {
                color: $whiteColor;

                &:hover {
                    transition: .8s;
                    color: $textColor;
                }
            }
        }
    }
}
