.services__wrapper {
    padding: 1rem;
    margin:9rem 0;

    .title {
        margin-bottom: 7rem;

        .row {
            align-items: center;

            .title__text {

                h2 {
                    width: 90%;
                    line-height: 1.4;
                }
            }

            .title__button {
                display: flex;
                justify-content: flex-end;

                button {
                    width: 25rem;
                    font-family: $headingFont;
                    border: .1rem solid #8f8b8b;
                    text-align: center;
                    padding: 1.6rem 0;

                    &:hover {
                        background-color: $textColor;
                        color: $whiteColor;
                    }
                }
            }
        }
    }

    .services__list {
        .service__list--image {
            figure {

                svg {
                    fill: $textColor;
                }
            }
        }

        .service__list--content {
            h3 {
                margin: 3rem 0;
            }

            p {
                color: $textColor;
                padding-right: 1rem;
            }
        }
    }
}